doctype html
html
    include ./includes/head.jade
    body
        include ./includes/nav.jade
        .container
            .row
                include ./includes/header.jade
            .row.well.well-lg
                h1.text-center Baxter
                .row
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                Parents: Casey & Harley
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                As was this one.
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                This is a third picture.
                .row
                    p.
                        This is a lot of text about a dog that is above here with three pictures and this will be describing them. Thanks for looking at my dog he really appreciates it.

            .row.well.well-lg
                h1.text-center Baxter
                .row
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                Parents: Casey & Harley
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                As was this one.
                    .col-xs-4
                        .container
                            img.puppy(src="images/previous/daisyduke.jpg")
                            p.
                                This is a third picture.
            include ./includes/foot.jade