doctype html
html
   include ./includes/head.jade
   body
      include ./includes/nav.jade
      .container
         .row
            include ./includes/header.jade
         .row.well.well-lg
            .col-xs-6
               // Content Here
            .col-xs-6
               //content here
         include ./includes/foot.jade