div#footer.col-md-12
    p Copyright (c) Szenasy's Prairie Glade Chihuahuas. All Rights Reserved. Site designed by  Michael McQuade.
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")