.navbar.navbar-default
    .container-fluid
        .navbar-header
            h1.navbar-brand: a(href="index.html") Prairie Glade Kennels
            button(type="button" data-toggle='collapse' data-target='.navbar-collapse').navbar-toggle
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
            li: a(href="index.html") Home
            li: a(href="breeders.html") Our Chihuahuas
            li: a(href="available.html") Available Puppies
            li: a(href="previous.html") Past Puppies
            li: a(href="growth.html") Growth Chart
            li: a(href="contact.html") Contact Us